<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="DBConnection" connectionString="Data Source =sql.bsite.net\MSSQL2016;Initial Catalog = boksys_SampleDB;Integrated Security = false;User Id=boksys_SampleDB;Password=Letmeinpc123"/>
	</connectionStrings>
	<appSettings>
		<add key="SplashImg" value="background.jpg"/>
		<add key="SystemName" value="Disbursement Journal System"/>
	</appSettings>
</configuration>