USE [master]
GO
/****** Object:  Database [boksys_SampleDB]    Script Date: 12/19/2023 5:19:04 AM ******/
CREATE DATABASE [boksys_SampleDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'sample_template', FILENAME = N'D:\sql-freeasphost-user-dbs\boksys_SampleDB.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'sample_template_log', FILENAME = N'D:\sql-freeasphost-user-dbs\boksys_SampleDB.ldf' , SIZE = 5696KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [boksys_SampleDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [boksys_SampleDB]
GO
USE [boksys_SampleDB]
GO
/****** Object:  Table [dbo].[MASTER_CLIENT_TABLE]    Script Date: 12/19/2023 5:19:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASTER_CLIENT_TABLE](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClientCode] [nchar](10) NOT NULL,
	[ClientName] [nvarchar](50) NOT NULL,
	[CompanyLogo] [nvarchar](max) NULL,
	[TIN] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](max) NULL,
	[ContactNumber] [nvarchar](50) NULL,
	[PointOfContact] [nvarchar](50) NULL,
	[POCNumber] [nvarchar](50) NULL,
	[isEnabled] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[Remarks] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ClientCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MASTER_COMPANY_TABLE]    Script Date: 12/19/2023 5:19:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASTER_COMPANY_TABLE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyCode] [nvarchar](50) NOT NULL,
	[CompanyName] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](max) NULL,
	[ContactDetails] [nvarchar](50) NULL,
	[TIN] [nvarchar](50) NULL,
	[Terms] [int] NOT NULL,
	[CreditLimit] [int] NOT NULL,
	[TypeOfBusiness] [nvarchar](50) NULL,
	[PointOfContact] [nvarchar](50) NULL,
	[POCNumber] [nvarchar](20) NULL,
	[isEnabled] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_MASTER_COMPANY_TABLE] PRIMARY KEY CLUSTERED 
(
	[CompanyName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CompanyCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MASTER_ROLE_TABLE]    Script Date: 12/19/2023 5:19:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASTER_ROLE_TABLE](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Rolename] [nvarchar](50) NOT NULL,
	[isEnabled] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_MASTER_ROLE_TABLE] PRIMARY KEY CLUSTERED 
(
	[Rolename] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MASTER_USERS_TABLE]    Script Date: 12/19/2023 5:19:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASTER_USERS_TABLE](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Role] [int] NOT NULL,
	[isEnabled] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[LastModifyBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[Remarks] [nvarchar](max) NULL,
 CONSTRAINT [PK_MASTER_USERS_TABLE] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[People]    Script Date: 12/19/2023 5:19:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[People](
	[First Name] [nvarchar](max) NULL,
	[Last Name] [nvarchar](max) NULL,
	[Department] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_MASTER_USERS_TABLE]    Script Date: 12/19/2023 5:19:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_MASTER_USERS_TABLE] ON [dbo].[MASTER_USERS_TABLE]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MASTER_CLIENT_TABLE] ADD  CONSTRAINT [DF_MASTER_CLIENT_TABLE_isEnabled]  DEFAULT ((1)) FOR [isEnabled]
GO
ALTER TABLE [dbo].[MASTER_CLIENT_TABLE] ADD  CONSTRAINT [DF_MASTER_CLIENT_TABLE_CreatedBy]  DEFAULT ((-1)) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[MASTER_CLIENT_TABLE] ADD  CONSTRAINT [DF_MASTER_CLIENT_TABLE_ModifiedBy]  DEFAULT ((0)) FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[MASTER_CLIENT_TABLE] ADD  CONSTRAINT [DF_MASTER_CLIENT_TABLE_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[MASTER_COMPANY_TABLE] ADD  CONSTRAINT [DF_MASTER_COMPANY_TABLE_Terms]  DEFAULT ((0)) FOR [Terms]
GO
ALTER TABLE [dbo].[MASTER_COMPANY_TABLE] ADD  CONSTRAINT [DF_MASTER_COMPANY_TABLE_CreditLimit]  DEFAULT ((0)) FOR [CreditLimit]
GO
ALTER TABLE [dbo].[MASTER_COMPANY_TABLE] ADD  CONSTRAINT [DF_MASTER_COMPANY_TABLE_isEnabled]  DEFAULT ((1)) FOR [isEnabled]
GO
ALTER TABLE [dbo].[MASTER_COMPANY_TABLE] ADD  CONSTRAINT [DF_MASTER_COMPANY_TABLE_CreatedBy]  DEFAULT ((-1)) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[MASTER_COMPANY_TABLE] ADD  CONSTRAINT [DF_MASTER_COMPANY_TABLE_ModifiedBy]  DEFAULT ((0)) FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[MASTER_COMPANY_TABLE] ADD  CONSTRAINT [DF_MASTER_COMPANY_TABLE_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[MASTER_ROLE_TABLE] ADD  CONSTRAINT [DF_MASTER_ROLE_TABLE_isEnabled]  DEFAULT ((1)) FOR [isEnabled]
GO
ALTER TABLE [dbo].[MASTER_ROLE_TABLE] ADD  CONSTRAINT [DF_MASTER_ROLE_TABLE_CreatedBy]  DEFAULT ((-1)) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[MASTER_ROLE_TABLE] ADD  CONSTRAINT [DF_MASTER_ROLE_TABLE_ModifiedBy]  DEFAULT ((0)) FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[MASTER_ROLE_TABLE] ADD  CONSTRAINT [DF_MASTER_ROLE_TABLE_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[MASTER_USERS_TABLE] ADD  CONSTRAINT [DF_MASTER_USERS_TABLE_isEnabled]  DEFAULT ((1)) FOR [isEnabled]
GO
ALTER TABLE [dbo].[MASTER_USERS_TABLE] ADD  CONSTRAINT [DF_MASTER_USERS_TABLE_CreatedBy]  DEFAULT ((-1)) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[MASTER_USERS_TABLE] ADD  CONSTRAINT [DF_MASTER_USERS_TABLE_LastModifyBy]  DEFAULT ((0)) FOR [LastModifyBy]
GO
ALTER TABLE [dbo].[MASTER_USERS_TABLE] ADD  CONSTRAINT [DF_MASTER_USERS_TABLE_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[MASTER_USERS_TABLE]  WITH CHECK ADD  CONSTRAINT [FK_MASTER_USERS_TABLE_MASTER_USERS_TABLE] FOREIGN KEY([Username])
REFERENCES [dbo].[MASTER_USERS_TABLE] ([Username])
GO
ALTER TABLE [dbo].[MASTER_USERS_TABLE] CHECK CONSTRAINT [FK_MASTER_USERS_TABLE_MASTER_USERS_TABLE]
GO
USE [master]
GO
